
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');




html {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: var(--lightBg);
  --lightBtn: #FE016C;
  --lightBg: #fff;
  --lightColor: #232323;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

html[data-theme='dark'] {
   background: var(--lightBg);
  --lightBtn: #FFBD07;
  --lightBg: #282c34;
  --lightColor: #fff;
}

h1, h2, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: var(--lightColor);
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--lightBtn);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  background: #fff;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}

input:checked + label {
  background: #FFBD07;
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}


.container_light {
  position: relative;
  margin-top: 100px;
}

.button_light {
  margin-top: 100px;
  width: 50px;
  height: 50px;
  border: 1px solid #282c34;
  border-radius: 50%;
}

.button_light:hover {
  background: #d3d5d8;
}

.light_off {
  width: 100px;
  height: 70px;
  background: url('./assets/light-bulb-off.png') no-repeat center;
  background-size: contain;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.light_on {
  width: 100px;
  height: 100px;
  background: url('./assets/light-bulb-on.png') no-repeat center; 
  background-size: contain; 
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%)
}

.remind {
  display: block;
  height: 30px;
}

/* button light */
span{
  position: relative;
  display: inline-flex;
  width: 100px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "LIGHT";
  height: 55px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}